<!DOCTYPE html>
<html>
    <head>
        <title>
            ABOUT-US
        </title>
        <link rel="stylesheet" href="../static/style.css">
        <style>
           
        </style>
    </head>
<body>
    
    <div class="hea">

        <p>Contact Us+91 6366200000/01 | superhospital.com</p>

    </div>
    <div class="mydiv">
        <div class="test">
        <span style="font-size: 50px;font-family: forte; color:#428bca;" >super</span><span style="font-size: 50px;font-family: forte; color:black;" > hospital</span>
        </div>
         
        <nav class="test1">
            <a href="{{url_for('dashboard')}}">DASHBOARD</a>
            <a href="{{url_for('contact_us')}}">CONTACT-US</a>
            <a href="{{url_for('doctors')}}">DOCTORS</a>
            <a href="{{url_for('services')}}">SERVICE</a>
            <a href="{{url_for('about_us')}}">ABOUT-US</a>
            <a href="{{url_for('index1')}}">HOME</a>
        </nav>
    
    </div>
    
     <hr color="gray"> 
    <div class="mid">
        <img src="../static/pictures/about.jpg" alt="about image" height="800px;">
        
        <p>
            <b style="font-size: 20px;">Welcome to <span style="background-color: yellow;">Super Hospital</span></b>
            <br>
            <br>
            <b style="font-size: 30px;">Best Medical & HealthCare Needs To Our Patients</b>
            <br>
            <br>
            <br>
            <p style="word-spacing: 5px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Minima voluptatibus quo quam iure molestiae vero exercitationem 
                aliquam atque alias nobis
                 a minus in unde nulla deleniti, sit vitae consequuntur qui?
                 Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Aliquam, voluptates 
                 amet consequatur atque vero deserunt odio modi incidunt recusandae,
                  temporibus Lorem ipsum dolor sit amet uaerat quod nemo?</p><br>
                 <p style="word-spacing: 2px;">
                  autem accusantium
                  placeat blanditiis et vel minima eos excepturi iusto Lorem 
                  te earum suscipit doloremque
                  tibus qui, nulla molestiae mollitia modi dis
                  adipisicing elit.  tibus qui, nulla molestiae mollitia modi distinctio explicabo voluptatem.</p>
        </p>

    </div>
    <br>
    <br>
    <br>
    <br>

 <hr color="gray"> 
    <br>
    <div>
        <p>
       <b style="font-size:25px"> Address
    </b><br><br>
       <b style="font-size: 25px;"> Super Hospital & Research Center</b><br><br>
           <p style="color:grey; padding-bottom: 10px;">180,Shri Rampuri,Niwaru Road,<br>
            Kaal Road<br>
            Benad,Bharatpur Raj 302020<br>
            Contact no-0123456789<br>
            Email:superhospital@gmail.com
        </p>
    </p>
    </div>
    <br>
    <br>
    <footer>
        <div class="f">
            @SUPER Hospital site designed and developed by mitraz
        </div>
</footer>