<!DOCTYPE html>
<html>
    <head>
        <title>
            contact us
        </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <style>

    </style>
    <body>
        <div class="hea">

            <p>Contact Us+91 6366200000/01 | superhospital.com</p>

        </div>
        <div class="mydiv">
            <div class="test">
            <span style="font-size: 50px;font-family: forte; color:#428bca;" >super</span><span style="font-size: 50px;font-family: forte; color:black;" > hospital</span>
            </div>
             
            <nav class="test1">
                <a href="{{url_for('dashboard')}}">DASHBOARD</a>
                <a href="{{url_for('contact_us')}}">CONTACT-US</a>
                <a href="{{url_for('doctors')}}">DOCTORS</a>
                <a href="{{url_for('services')}}">SERVICE</a>
                <a href="{{url_for('about_us')}}">ABOUT-US</a>
                <a href="{{url_for('index1')}}">HOME</a>
            </nav>
        </div>
        <hr color="gray">
        <div id="info" style="padding:60px;">
           
               ---------
                <br>
                <br>
               <b> CONTACT-US </b><BR>
                    <br>
                    <p id="p9" style="margin-left: 10px;">
                    Super Hospital and Reasearch Center<br>
                    <br>
                    Mob:9392050112<br>
                    <br>
                    Email:suh@hospital.com
                </p>
        </div>
        <footer>
                <div class="f">
                    @SUPER Hospital site designed and developed by mitraz
                </div>
        </footer>
    </body>
</html>