<!DOCTYPE html>
<html>
    <head>
        <title>
            doctors
        </title>
        <link rel="stylesheet" href="../static/style.css">
        <style>
            

        </style>
    </head>
    <body>
        <div class="hea">

            <p>Contact Us+91 6366200000/01 | superhospital.com</p>

        </div>
        <div class="mydiv">
            <div class="test">
            <span style="font-size: 50px;font-family: forte; color:#428bca;" >super</span><span style="font-size: 50px;font-family: forte; color:black;" > hospital</span>
            </div>
             
            <nav class="test1">
                <a href="{{url_for('dashboard')}}">DASHBOARD</a>
                <a href="{{url_for('contact_us')}}">CONTACT-US</a>
                <a href="{{url_for('doctors')}}">DOCTORS</a>
                <a href="{{url_for('services')}}">SERVICE</a>
                <a href="{{url_for('about_us')}}">ABOUT-US</a>
                <a href="{{url_for('index1')}}">HOME</a>
            </nav>
        </div>
        
        <hr color="gray">
        <p style="padding-bottom:60px;">
            <br>
            <br>
            ---------<br>
            <br>
            <br>
            <b style="font-size: 20px;">Information not Available</b>
        </p>
        <footer>
                <div class="f">
                    @SUPER Hospital site designed and developed by mitraz
                </div>
        </footer>
    </body>
</html>