<!DOCTYPE html>
<html>
  <head>
    <title>SERVICES</title>
    <link rel="stylesheet" href="../static/style.css" />
    <style>
      
      
    </style>
  </head>
  <body>
    
    <div class="hea">

      <p>Contact Us+91 6366200000/01 | superhospital.com</p>

  </div>
  <div class="mydiv">
      <div class="test">
      <span style="font-size: 50px;font-family: forte; color:#428bca;" >super</span><span style="font-size: 50px;font-family: forte; color:black;" > hospital</span>
      </div>
       
      <nav class="test1">
        <a href="{{url_for('dashboard')}}">DASHBOARD</a>
        <a href="{{url_for('contact_us')}}">CONTACT-US</a>
        <a href="{{url_for('doctors')}}">DOCTORS</a>
        <a href="{{url_for('services')}}">SERVICE</a>
        <a href="{{url_for('about_us')}}">ABOUT-US</a>
        <a href="{{url_for('index1')}}">HOME</a>
    </nav>
  
  </div>
  
    <hr color="gray">&nbsp;&nbsp;
    <img src="../static/pictures/01.jpg" alt="image">
    <br><br><br>
    <p>
      OUR OUTSTANDING PERFORMANCES<br><br>
      
      <b style="font-size: 25px;">What We Offer</b><br>
      <br>
      <ul id="p9">
      <li>DENTAL IMPLANTS</li>
      <LI>WHITENING</LI>
      <li>VACCINATIONS</li>
      <LI>LABORATORY</LI>
      <LI>MEDICAL DRESSAGE</LI>
      <LI>EMERGENCY CONTRACEPTION</LI></ul>
    </p>
    <br><br>&nbsp;&nbsp;&nbsp;
    <hr color="gray">
    <p style="padding-top: 10px;">
    <br> <br>
      ---------<br><br>
      <b style="font-size: 30px;">Our Department</b>
      <br>
      <br>
      <ul style="color:gray;">
      <li>Dental Care</li>
      <li>OTOLOGY</li>
      <LI>CARDIAC</LI>
      <LI>HEPATOLOGY</LI>
      <LI>ORTHOPEDICS</LI>
      <LI>GASTROENTEROLOGY</LI>
      <LI>OUTPATIENT</LI>
      <LI>MENTAL HEALTH</LI>
    </ul>
    </p>
    <BR><BR>
      <footer>
        <div class="f">
            @SUPER Hospital site designed and developed by mitraz
        </div>
</footer>
  </body>
</html>
