<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/style.css">
    <script>
        function validateForm() {
            
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;
            if (password !== confirmPassword) {
                alert("Passwords do not match!");
                return false;
            }
            return true;
        }

        function checkPasswordStrength() {
            const password = document.getElementById('password').value;
            const passwordStrength = document.getElementById('password-strength');
            let strength = "";

            if (password.length >= 8) {
                strength += "Length: Strong<br>";
            } else {
                strength += "Length: Weak<br>";
            }

            const regex = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W)/;
            if (regex.test(password)) {
                strength += "Characters: Strong<br>";
            } else {
                strength += "Characters: Weak<br>";
            }

            passwordStrength.innerHTML = "Password Strength: " + strength;
        }
    </script>
</head>
<body>
    <h1>Create an Account</h1>
    <form action="/signup" method="post" onsubmit="return validateForm()">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required onkeyup="checkPasswordStrength()"><br>

        <span id="password-strength"></span><br>  <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" required><br>

        <label for="role">Role:</label>
        <select name="role" id="role">
            <option value="user">User</option>
            <option value="organizer">Organizer</option>
        </select><br>

        <button type="submit">Sign Up</button>
        <p>Already have an account? <a href="{{url_for('login')}}">Sign In</a></p>

    </form>
    
</body>
</html>
